@import './core/fonts.scss';

.bp-bg-cork-pattern {
	background-image: url(../assets/images/patterns/cork.png);
	background-repeat: repeat;
	background-color: #d18034;
}

.st0 {
    fill: #F6C219;
    stroke: #09B0EC;
    stroke-width: 6.4062;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
.st1 {
    opacity: 0.75;
    fill: #f7f7f7;
}
.st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.5273;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}