@import './core/fonts.scss';
@import './font-awesome-5/fontawesome.scss';
@import './font-awesome-5/light.scss';

body {
  background-color: #d9d9d9;
  overflow-x: hidden;
  color: #101010;
}

a {
  color: gray !important;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
	color: #1574ef;
}

// .noise-effect {
//   background-image: url();
// }

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: .6vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/**/