@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');
@font-face {
  font-family: 'BeachSunshine';
  src: local('../../assets/fonts/Beach_Sunshine.ttf'),
    local('../../assets/fonts/Beach_Sunshine.ttf'),
    url(../../assets/fonts/Beach_Sunshine.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AmaticSC';
  src: local('../../assets/fonts/AmaticSC-Regular.ttf'),
    local('../../assets/fonts/AmaticSC-Regular.ttf'),
    url(../../assets/fonts/AmaticSC-Regular.ttf) format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmaticSC';
  src: local('../../assets/fonts/AmaticSC-Bold.ttf'),
    local('../../assets/fonts/AmaticSC-Bold.ttf'),
    url(../../assets/fonts/AmaticSC-Bold.ttf) format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

.bp-beach-sunshine-font {
  font-family: 'BeachSunshine' !important;
}

.bp-amatic-font {
  font-family: 'AmaticSC' !important;
}

.bp-landing-font {
  font-family: 'Open Sans', sans-serif;
}
