@import './core/fonts.scss';

body {
  background-color: antiquewhite;
}

.bp-bg-wall {
  background-image: url("https://res.cloudinary.com/pwcaguerrero/image/upload/v1703951770/wall_no_shadow_mpdgoc.png");
  background-repeat: repeat;
  background-size: 100vw;
  overflow: hidden;
  width: 99.2vw;
  height: 99.2vh;
  position: fixed;
  opacity: 0.25;
}


@media screen and (max-height: 890px) {
  #desktop-main-frame {
    min-height: 990px !important;
  }
}


/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: .8vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/**/